psycopg2-binary
tflearn
boto3
tqdm
lxml
pymongo
rasterstats
geopandas
matplotlib
scipy
lightgbm
eo-learn
plotly
graphviz
latex
PyQt5
voila
bqplot
ipywidgets
ipyleaflet
ipyvolume
ipyvuetify
ipywebrtc
ipympl
pyyaml