boto3==1.14.30
botocore==1.17.30
bqplot==0.12.14
Fiona==1.8.13.post1
GDAL==3.0.4
geopandas==0.8.1
ipyfilechooser==0.3.4
ipyleaflet==0.13.3
ipyvolume==0.5.2
ipyvuetify==1.4.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
latex==0.7.0
lightgbm==2.3.1
lxml==4.5.2
matplotlib==3.3.0
numpy==1.19.1
pandas==1.1.0
plotly==4.9.0
psycopg2-binary==2.8.5
pyproj==2.6.1.post1
python-json-logger==0.1.11
PyYAML==5.3.1
rasterio==1.1.5
rasterstats==0.15.0
requests==2.24.0
scipy==1.5.2
tflearn==0.3.2
tqdm==4.48.0
voila==0.1.21
widgetsnbextension==3.5.1