flask
flask-sqlalchemy
flask-migrate
flask-heroku
flask-script
Flask-Cache
flask_table
flask_restful
itsdangerous
marshmallow
markupsafe
sqlalchemy
gunicorn
werkzeug
requests
WTForms
jinja2
click
pip
py-bcrypt
psycopg2-binary
bcrypt
pandas